*.o
*.d
*.elf
*.map
*.iso
ap_boot.bin
iso/
hda.img
floppy.img
initrd.img
apps/01/01
apps/hello/hello
apps/example/example
apps/mem/mem
apps/lua/lua
apps/fault/fault
apps/cc/cc
apps/cc/cc-native
apps/cc/cc-dbg
apps/cc/cc-asan
apps/cc/cc.selfhost
apps/zsh/zsh
os.sublime-workspace
docs/
